/* index.css */

.ql-toolbar .ql-header {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 0.25px;
    font-weight: 500;
  }
  
  .ql-toolbar .ql-header > svg {
    display: none; /* hide the default icon */
  }
  
  .ql-toolbar .ql-header:after {
    content: "Header"; /* add my "icon" (it's just text, I know) */
  }
  
  .ql-toolbar .ql-divider:after {
    content: "-";
  }
  