@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-primary text-primary;
  }

  .dark {
    --color-bg-primary: #0D0D0D;
    --color-bg-secondary: #1A1A1A;
    --color-text-primary: #F5F5F5;
    --color-text-secondary: #A3A3A3;
    --color-text-accent: #3B82F6;
    --color-bg-input: #262626;
    --color-bg-button: #3B82F6;
    --color-doc: #404040;
    --color-doc-hover: #525252;
  }

  .light {
    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: #F9FAFB;
    --color-text-primary: #111827;
    --color-text-secondary: #4B5563;
    --color-text-accent: #2563EB;
    --color-bg-input: #F3F4F6;
    --color-bg-button: #2563EB;
    --color-doc: #E5E7EB;
    --color-doc-hover: #2563EB;
  }
}

.dark-theme {
  @apply dark;
}

.light-theme {
  @apply light;
}

/* .richtext-max-h-full {
  min-height: 100vh !important;
} */

.reactjs-tiptap-editor {
  min-height: 80vh !important;
}

.richtext-rounded-\[0\.5rem\] {
  border-radius: 0 !important;
}

.tippy-box {
  display: none !important;
}